.certificates-container {
  width: 100%;
  min-height: 100vh;
  background:white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
  padding:30px;
}

.certificates-inside {
  max-width: 1300px;
  text-align: center;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.2); 

  /* subtle white glow */
}


.certificates-inside h2 {
  font-size: 3rem;
  font-weight: 700;
  color: black;
  text-shadow: 0 0 25px rgba(0, 255, 255, 0.4);
  margin-bottom: 10px;
}

.certificates-inside p {
  color: black;
  margin-bottom: 50px;
  font-size: 1.1rem;
}

.certificates-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
}

.certificate-card {
  background:black;
  border: 2px solid rgba(0, 255, 255, 0.3);
  border-radius: 18px;
  box-shadow: 0 0 25px rgba(0, 255, 255, 0.1);
  padding: 40px 20px;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.certificate-card:hover {
  border-color: rgba(0, 255, 255, 0.8);
  box-shadow: 0 0 35px rgba(0, 255, 255, 0.5);
  transform: translateY(-8px);
}

.card-icon {
  background: radial-gradient(circle, rgba(0, 255, 255, 0.2), transparent 70%);
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 25px;
}

.card-content h3 {
  font-size: 1.1rem;
  margin-bottom: 6px;
  color: #fff;
}

.card-content .org {
  color: #aaa;
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 255, 255, 0.2);
  padding-top: 8px;
  font-size: 0.9rem;
  color: #00ffff;
}

.card-footer .year {
  color: #fff;
}

/* ===== Popup ===== */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(5, 5, 10, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content img {
  max-width: 90%;
  max-height: 90vh;
  border-radius: 12px;
  border: 2px solid cyan;
  box-shadow: 0 0 40px rgba(0, 255, 255, 0.5);
}

//* Responsive Layout for Tablets */
@media (max-width: 768px) {
  .certificates-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 per row */
    gap: 20px;
  }

  .certificate-card {
    padding: 30px 15px;
  }

  .certificates-inside h2 {
    font-size: 2.3rem;
  }
}

/* Responsive Layout for Small Mobiles */
@media (max-width: 480px) {
  .certificates-grid {
    grid-template-columns: 1fr; /* 1 per row for very small screens */
    gap: 15px;
  }

  .certificates-inside h2 {
    font-size: 1.8rem;
  }
}

