.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100vh;
  width: 100%;
  padding:100px;
  background-color:white;
  box-sizing: border-box;
  gap: 40px;
}

/* LEFT SIDE */
.contact-left {
  flex: 1;
  border: 4px solid #06eff0;
  border-radius: 10px;
  padding: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  width:50%;
}

.contact-left h2 {
  color: #06eff0;
  font-size: 2rem;
  margin-bottom: 10px;
}

.contact-desc {
  color: #ccc;
  margin-bottom: 30px;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  background-color: #1a1a1a;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 12px;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: 2px solid #06eff0;
}

#but {
  display: flex;
  justify-content: center;
}

.submitbut {
  background-color: #06eff0;
  color: black;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.submitbut:hover {
  background-color: white;
  color: black;
  transform: scale(1.05);
}

/* RIGHT SIDE */
.contact-right {
  flex: 0.6;
  border: 4px solid #06eff0;
  border-radius: 10px;
  padding: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #1a1a1a;
}

.contact-right h3 {
  color: #06eff0;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.contact-right p {
  color: #ccc;
  margin-bottom: 25px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-info a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  transition: color 0.3s ease;
}

.contact-info a:hover {
  color: #06eff0;
}

/* RESPONSIVE DESIGN */
@media (max-width: 900px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
    margin-left: 20px;
  
  }

  .contact-left,
  .contact-right {
    width:95%;
    max-width: 600px;
  }
}
